*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("KBC_13_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.question-list{
    height: 60%;
    background-color: aliceblue;
    width: 80%;
margin-top: 20%;
margin-left: 100px;
}

.question{
    height: 100%;
    width: 96%;
    
    text-align: center;
    
    padding: 20px;
}
.row-1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
}

.first-option{
    background-color: aquamarine;
    height: 40px;
    width: 400px;
    margin: 20px;
    text-align: center;
    padding-top: 20px;
}
.second-option{
    background-color: aquamarine;
    height: 40px;
    width: 400px;
    margin: 10px;
    text-align: center;
    padding-top: 20px;
    margin: 20px;
}

.row-2{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
}

.hide{
    display:none;
}

.show{
   display: block; 
}
